.portada-titulo {
  width: 260px;
  height: 100px;
  background-color: rgba(160, 238, 237, 0.64);
  margin: 5px 10px 0px 450px;
  border-radius: 40px;
  padding: 10px;
  border: 3px solid blue;
}

.main-principal {
  width: 1230px;
  height: 600px;
  background-color: rgba(152, 237, 119, 0.41);
  margin: 0px 10px 0px 5px;
  border-radius: 30px;
  border: 3px solid blue;
  padding: 10px;
}

body {
  width: 1253px;
  margin: 0px;
  background-image: url(./imagenes/fondo.jpg);
}

body header img {
  padding:
}

.main-principal .articulo-1 a {
  font-family: 'Barriecito', cursive;
  font-size: 30px;
  color: black;
  text-decoration: none;
}

.final {
  width: 1265px;
  height: 170px;
  background-color: rgba(48, 48, 48, 0.88);
  margin: 0px;
  color: rgb(195, 160, 56);
  font-family: 'Pacifico', cursive;
  font-size: 20px;
}

i {
  /* color: red; */
  font-size: 50px;
}

.web1, .web2, .web3, .videojuegos, .app, .impr, .drones {
  background-color: rgba(0, 26, 255, 0.37);
  width: 600px;
  height: 50px;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}
